body {
    font-family: 'Helvetica Neue';
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.cell {
    width: 35px;
    height: 35px;
    background-color: #ccc;
}

.snake {
    background-color: #807920;
}

.fruit {
    background-color: #ff5605;
}

#log {
    width: 337px;
    height: 1.5em;
    margin-top: 0.5em;
}
